.top-bar {
  text-align: right;
  height: 30px;
  padding-bottom: 5px;
  background-color: green;
}
.top-bar li {
  color: white;
  margin-right: 2px;
  position: relative;
  display: inline-block;
  list-style: none;
}
#dropdownMenuButton {
  padding: 0px;
  width: 100px;
  height: 25px;
  margin-right: 50px;
  position: relative;
}
/* Company log */
.navbar-brand img {
  height: 40px;
  margin-left: 50px;
}
.form-inline .my-sm-0 {
  background-color: green;
  color: white;
  margin-right: 50px;
}

/* parallax image properties*/
.parallax-img {
  background-image: url('./assests/parallax-img.jpg');
  height: 400px;
  filter: brightness(100%);
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;

}

.content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.45);
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.parallax-img h2 {
  color: white; 
  margin-bottom: 5px;
  font-size: 50px;
  font-weight: 100;
}

.box-nav {
  color: white;
  display: inline-block;
  height: 250px;
  width: auto;
  position: relative;
}


.row .company {
  position: relative;
  background-image: url(./assests/company1.jpg);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10%;
}
.cnav-link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row .product {
  position: relative;
  background-image: url(./assests/product.jpg);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.pnav-link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.row .contact {
  position: relative;
  background-image: url(./assests/contact1.png);
  filter: brightness(100%);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ctnav-link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* style for counters */

.numbers {
  margin-top: 25px;
  color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 30px;
}

.data {
  color: black;
  font-size: 20px;
  display: inline-block;
  margin-right: 100px;
  padding: 5px;
}
.data .data-icon {
  padding-top: 10px;
  float: left; 
}
.data-num {
    float: right;
    position: relative;
    margin-left: 25px;
}

/* style for news section */
.news-section {
  background-color: #D0CDCD;
  height: 300px;
  margin-top: 15px;
}
.news-section h4 {
  display: flex;
  padding-top: 15px ;
  justify-content: center;
}


/* styling for references */
.reference-section h4 {
  display: flex;
  margin-top: 25px;
  margin-bottom: 30px ;
  justify-content: center;
}

.bosch .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.body-shop .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.laplandHotel .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ikea .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* suscription section style */
.suscribe {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 80%;
}
